# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# PyTorch and TensorFlow checkpoint files
checkpoints/
*.ckpt

# TensorBoard log files
runs/
events.out.tfevents.*

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Ignore the dataset folder
dataset/

# Ignore experiments folder
runs/
experiments/
useful_commands.txt
MC_dropout/
models/
notebooks/
configs/experiments/